Source: freegeek-logo
Section: graphics
Priority: extra
Maintainer: Vagrant Cascadian <vagrant@freegeek.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://freegeek.org
Vcs-Git: git://git.freegeek.org/git/freegeek-logo.git
Vcs-Browser: http://git.freegeek.org/?p=freegeek-logo.git;a=summary

Package: freegeek-logo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: freegeek logo icons
 Icons providing freegeek's logo for use in desktops and 
 such.
